.header-p {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  position: relative;
  color: rgb(0, 0, 0);
  letter-spacing: 0.5rem;
}

.header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.header-name {
  font-size: 2rem;
}

.header-divider {
  width: 15rem;
  margin-top: 8px;
  margin-bottom: 10px;
}

.header-title {
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background: transparent;
  background-color:rgb(4, 1, 179);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  
  z-index: 1;
}

.navbar li {
  display: inline;
  padding: 5px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px 10px;
  
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  
}

.profile-pic {
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}



.skill-section {
  background-color: rgb(146, 204, 204);
}

.skills {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.intro {
  background-color: azure;

}

.info {
  padding: 0.8rem;
}

.project {
  background:rgb(219, 219, 219);
  
}

.item {
  margin-left: auto!important;
  margin-right: auto!important;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.extra-top {
  padding-top: 3rem;
}

.background {
  position: relative;
  text-align: center;
  
  margin-right: auto;
}

.description {
  margin-left: auto;
  margin-right: auto;
}

.form {
  
  margin-top: 50%;
}

.connect {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.send {
  margin-left: 50%!important;
}

.field {
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.pic1 {
  /* The image used */
  background: linear-gradient(rgba(250, 247, 247, 0.5), rgba(13, 12, 122, 0.93)), url("resources/yosemite.JPG");

  /* Set a specific height */
  height: 97.5vh;
  width: 100vw;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic2 {
  /* The image used */
  background-image: url("resources/osaka.JPG");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic3 {
  /* The image used */
  background-image: url("resources/uji.JPG");

  /* Set a specific height */
  min-height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic4 {
  /* The image used */
  background-image: url("resources/clouds.JPG");

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
